@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700&display=swap);

$colors:(
    bg: #080E1A,
    
);
 
 
  $fontweight: bold;
  $font: Montserrat;
  


.logo{
    position: absolute;
    margin: 0px;
    top: 1em;
    left: 1em;
    font-family: Montserrat;
    color: #FFFFFF;
    font-weight: lighter;
    flex:1;
    text-transform: uppercase;
    
}

body {
    background: map-get($colors, bg );
    margin: 0px;
    width: 100%;
    height: auto;

} 
 #company {
     display: flex;
     padding-top: 10em;
     
     
     h2{
         font-family: $font;
         
         font-weight: bolder;
         color: #FFFFFF;
         text-transform: uppercase;
         font-size: 40px;
         padding-left: 1.65em;
 

       }
       p{
           font-family: $font;
           font-size: 18px;
           color: #FFFFFF;
           padding-left: 4em;
           line-height: 1.5em;
       }
 }

 #values {
    display: flex;
    padding-top: 0em;
    padding-bottom: 0em;
    
    
    h2{
        font-weight: bolder;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 40px;
        padding-left: 1.65em;
        font-family: $font;


      }
      p{
          font-family: $font ;
          font-size: 18px;
          color: #FFFFFF;
          padding-left: 4em;
          line-height: 1.5em;
      }
}


#link {
    padding-bottom: 1em;
    padding-top: 1em;
   
}
 #contact_link{
    position: relative;
    top: 2em;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    font-family: sans-serif;

        a{
            text-decoration: none;
            color: #FFFFFF; 
            background-color: #39D39F;
            border-radius:  30px;
            padding: 7px 35px;
            padding-bottom: 12px;
        }    
            
    }

.footer {
    display: block;
    position: relative;
    top: 10em;
    height: 12em;
    width: 100%;

    background-color: #070B14;

    .flogo{
        display: block;
        position: relative;
        padding-left: 5em;
        padding-top: 3em;
        float: left;
        text-align: center;

        #underlogo {

            font-family: Montserrat;
            color: #646464;
            font-weight: lighter;
            letter-spacing: 3px;
            text-transform: uppercase;

        }

        p {
            position: relative;
            bottom: 2em;
            
            font-family: Montserrat;
            letter-spacing: 3px ;
            color:#646464 ;
            font-size: 12px;
            font-weight: lighter;

        }
    }

    #socialMediaIcon {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-top: 5em;
        left: 25%;
        width: 12em;
        
    }

    #rights {
        position: relative;
        float: right;
        bottom: 3em;
        font-family: Montserrat;
        color:#646464 ;
        font-size: 16px;
        padding-right: 4em;
        

    }

} 


