@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700&display=swap);
.logo {
  position: absolute;
  margin: 0px;
  top: 1em;
  left: 4em;
  font-family: Montserrat;
  color: #FFFFFF;
  font-weight: lighter;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: uppercase;
}

body {
  background: #080E1A;
  margin: 0px;
  width: 100%;
  height: auto;
  overflow-x: auto;
  font-family: 'Montserrat' , 'sans-serif';
}

#sideNav {
  position: fixed;
  height: 100%;
  width: 7em;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  z-index: 1;
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
}

#sideNav span.menu img {
  width: 2em;
}

#sideNav span.menu {
  position: absolute;
  left: 2.3em;
  padding: 2em 0;
  position: relative;
}

#sideNav span.menu::after {
  content: 'MENU';
  left: 8em;
  position: absolute;
}

#sideNav img {
  cursor: pointer;
}

#sideNav span.settings img {
  width: 2.2em;
  margin-bottom: 1em;
}

#sideNav span.settings {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 2.1em;
  width: 25em;
  cursor: pointer;
}

#sideNav span.settings::after {
  content: 'SETTINGS';
  top: .5em;
  left: 7.5em;
  position: absolute;
}

#sideNav ul li img {
  width: 2.8em;
}

#sideNav ul li {
  margin: 3em 0;
  position: relative;
  right: 2.5em;
  cursor: pointer;
}

#sideNav ul a:first-child li:nth-child(1) {
  position: relative;
}

#sideNav ul a:first-child li:nth-child(1)::after {
  content: 'HOME';
  left: 8.4em;
  top: .8em;
  position: absolute;
}

#sideNav ul a:nth-child(2) li:nth-child(1) {
  position: relative;
  width: 25em;
}

#sideNav ul a:nth-child(2) li:nth-child(1)::after {
  content: 'TV SHOWS';
  text-align: center;
  left: 7.4em;
  top: .2em;
  position: absolute;
}

#sideNav ul a:nth-child(3) li:nth-child(1) {
  position: relative;
}

#sideNav ul a:nth-child(3) li:nth-child(1)::after {
  content: 'About us';
  text-transform: uppercase;
  text-align: center;
  left: 7.4em;
  top: .5em;
  position: absolute;
}

#sideNav ul {
  position: absolute;
  top: 7em;
  left: 2.1em;
  list-style: none;
}

#company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10em;
}

#company img {
  position: relative;
  left: 4.5em;
}

#company h2 {
  font-family: Montserrat;
  font-weight: bolder;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 1.65em;
}

#company p {
  font-family: Montserrat;
  font-size: 18px;
  color: #FFFFFF;
  padding-left: 4em;
  line-height: 1.5em;
}

#values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0em;
  padding-bottom: 0em;
}

#values h2 {
  font-weight: bolder;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 3em;
  font-family: Montserrat;
}

#values p {
  font-family: Montserrat;
  font-size: 18px;
  color: #FFFFFF;
  padding-left: 7em;
  line-height: 1.5em;
}

#link {
  padding-bottom: 1em;
  padding-top: 1em;
}

#contact_link {
  position: relative;
  top: 2em;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  font-family: sans-serif;
}

#contact_link a {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #39D39F;
  border-radius: 30px;
  padding: 7px 35px;
  padding-bottom: 12px;
}

.footer {
  display: block;
  position: relative;
  top: 10em;
  height: 12em;
  width: 100%;
  background-color: #070B14;
}

.footer .flogo {
  display: block;
  position: relative;
  padding-left: 8em;
  padding-top: 3em;
  float: left;
  text-align: center;
}

.footer .flogo #underlogo {
  font-family: Montserrat;
  color: #646464;
  font-weight: lighter;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.footer .flogo p {
  position: relative;
  bottom: 2em;
  font-family: Montserrat;
  letter-spacing: 3px;
  color: #646464;
  font-size: 12px;
  font-weight: lighter;
}

.footer #socialMediaIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-top: 5em;
  left: 25%;
  width: 12em;
}

.footer #rights {
  position: relative;
  float: right;
  bottom: 3em;
  font-family: Montserrat;
  color: #646464;
  font-size: 16px;
  padding-right: 4em;
}

#settingsPanel {
  position: fixed;
  height: 100%;
  width: 25em;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  z-index: 7;
  margin-left: 0px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
}

.mb-navbar {
  display: none;
}

.mb-menu {
  display: none;
}

@media all and (max-width: 963px) {
  .mb-menu {
    display: initial;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    top: 5px;
    z-index: 999;
  }
  .nav-open {
    clip-path: circle(25in at 10% 15%) !important;
    -webkit-clip-path: circle(25in at 10% 15%) !important;
  }
  .fixed {
    position: fixed !important;
  }
  .mb-navbar {
    position: fixed;
    z-index: 999;
    background: #F4311E;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    clip-path: circle(100px at 0% -40%);
    -webkit-clip-path: circle(100px at 0% -40%);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  .mb-navbar ul {
    list-style: none;
    text-align: center;
  }
  .mb-navbar ul li {
    margin: 4em 0;
  }
  .mb-navbar ul li:nth-child(3) a {
    margin-left: 0px;
  }
  .mb-navbar ul li a {
    margin-right: 1em;
    font-size: 2.5em;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
  }
  .logo {
    position: relative;
    margin: 0 auto;
    top: 1em;
    left: 0px;
    font-family: Montserrat;
    color: #FFFFFF;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
  }
  body {
    margin: 0px;
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
  }
  #sideNav {
    display: none;
  }
  main {
    padding: 0px;
    max-width: 100%;
  }
  #company {
    position: relative;
    top: 1em;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #company img {
    position: relative;
    left: none;
    margin: 0 auto;
    width: 90%;
  }
  #company #mg {
    margin: 0 auto;
    width: 60%;
  }
  #company h2 {
    text-align: center;
    padding-right: 0em;
    padding-left: 0em;
    font-size: 40px;
  }
  #company p {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0em;
    padding-right: 0em;
    text-align: center;
  }
  #values {
    position: relative;
    top: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #values h2 {
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    padding-right: 0em;
    padding-left: 0em;
    font-size: 40px;
  }
  #values p {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 0em;
    padding-right: 0em;
    text-align: center;
  }
  #values #img2 {
    display: inline-block;
    margin: 0 auto;
    max-width: 60%;
  }
  #contact_link {
    text-align: center;
  }
  .footer {
    position: relative;
    top: 3em;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .flogo {
    display: inline-block;
    position: relative;
    top: 2em;
    padding-left: 0em;
    padding-top: 0em;
    text-align: center;
  }
  .footer #socialMediaIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding-top: 2em;
    left: 0em;
    margin: 0 auto;
    width: 12em;
  }
  .footer #rights {
    display: inline-block;
    position: relative;
    top: 1em;
    float: none;
    bottom: 0em;
    padding-bottom: 1em;
    font-family: Montserrat;
    color: #646464;
    font-size: 16px;
    padding-right: 0em;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=about.css.map */