$colors:(
    bg: #080E1A,
    
);
 
  $cardwidth: 368px;
  $cardheight: 431px;
  $padding-top: 30px;
  $padding-left: 32px;
  $padding-leftc2: 80px;
  $padding-bottom: 32px;
  $radius: 15%;
  $h2fontsi: 35px;
  $fontweight: bold;
  $font: sans-serif;
  


.logo{
    position: absolute;
    margin: 0px;
    top: 1em;
    left: 1em;
    font-family: Montserrat;
    color: #FFFFFF;
    font-weight: lighter;
    flex:1;
    text-transform: uppercase;
    
}

body {
    background: map-get($colors, bg );
    margin: 0px;
    width: 100%;
    height: auto;

} 
 #company {
     display: flex;
     padding-top: 10em;
     
     
     h2{
         font-family: $font;
         
         font-weight: bolder;
         color: #FFFFFF;
         text-transform: uppercase;
         font-size: 40px;
         padding-left: 1.65em;
 

       }
       p{
           font-family: $font;
           font-size: 18px;
           color: #FFFFFF;
           padding-left: 4em;
           line-height: 1.5em;
       }
 }

 #values {
    display: flex;
    padding-top: 0em;
    padding-bottom: 0em;
    
    
    h2{
        font-weight: bolder;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 40px;
        padding-left: 1.65em;
        font-family: $font;


      }
      p{
          font-family: $font ;
          font-size: 18px;
          color: #FFFFFF;
          padding-left: 4em;
          line-height: 1.5em;
      }
}


#link {
    padding-bottom: 1em;
    padding-top: 1em;
   
}
 #contact_link{
        
    position: relative;
    left: 28em;
    top: 5em;
    text-decoration: none;
    background-color: #E84C3D;
    border-radius:  16px;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
    padding: 7px 35px;
    color: #FFFFFF;
    font-family: sans-serif;
    
            
            
    }

#footer {
    display: block;
    position: relative;
    top: 15em;
    height: 12em;
    width: 100%;
    border: #FFFFFF solid 1px;

}
