@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700&display=swap);
$colors:(
    bg: #080E1A,
    card1bg:#E84C3D,
    card2bg: #FFFFFF,
);
 
  $cardwidth: 368px;
  $cardheight: 431px;
  $padding-top: 30px;
  $padding-left: 32px;
  $padding-leftc2: 80px;
  $padding-bottom: 32px;
  $radius: 15%;
  $h2fontsi: 35px;
  $fontweight: bold;
  
*{
    font-family: sans-serif;

}
#sideNav {
    position: fixed;
    height: 100%;
    width:7em;
    transition: all ease 500ms;
    z-index:6;
    float: left;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
    
    span.menu img{
        width:2em;
    }
    span.menu{
        position: absolute;
        left:2.3em;
        padding : 2em 0;
        position: relative;
    }
    span.menu::after{
        content:'MENU';
        left: 8em;
        position: absolute;
    }
    img{
        cursor: pointer;
    }
    span.settings img{
        width: 2.2em;
        margin-bottom:1em;
    }
    span.settings{
        position: absolute;
        z-index:2;
        bottom: 0;
        left:2.1em;
        width:25em;
        cursor: pointer;
    }
    span.settings::after{
        content:'SETTINGS';
        top:.5em;
        left: 7.5em;
        position: absolute;
    }
    ul li img{
        width:2.8em;
    }
    ul li{
        margin:3em 0;
        position: relative;
        right: 2.5em;
        cursor: pointer;
    }
    ul a:first-child li:nth-child(1){
        position: relative;
    }
    ul a:first-child li:nth-child(1)::after{
        content:'HOME';
        left: 8.4em;
        top:.8em;
        position: absolute;
    }
    ul a:nth-child(2) li:nth-child(1){
        position: relative;
        width:25em;
    }
    ul a:nth-child(2)  li:nth-child(1)::after{
        content:'TV SHOWS';
        text-align: center;
        left: 7.4em;
        top:.2em;
        position: absolute;
    }
    ul a:nth-child(3) li:nth-child(1){
        position: relative;
    }
    ul a:nth-child(3) li:nth-child(1)::after{
        content:'About us';
        text-transform: uppercase;
        text-align: center;
        left: 7.4em;
        top:.5em;
        position: absolute;
    }
    ul{
        position: absolute;
        top:7em;
        left:2.1em;
        list-style: none;
    }
}

.logo{
    position: absolute;
    margin: 0px;
    top: 1em;
    left: 4em;
    font-family: Montserrat;
    color: #FFFFFF;
    font-weight: lighter;
    flex:1;
    text-transform: uppercase;
    font-weight: lighter;
}

body {
    background: map-get($colors, bg );
    margin: 0px

} 
/* Cards container */
#father{
    display: flex;
    margin: auto;
    position: relative;
    top: 130px;
    justify-content: center;
}
/* Card's container ends here*/

/*The first card on the left */
 #card1 {
     background-color: map-get($colors, card1bg );
     width: $cardwidth;
     height: $cardheight;
     color: #FFFFFF;
     border-radius: $radius;
     box-shadow: 6px 0px 5px #ccc;
     z-index: 5;
     position: relative;
     left: 30px;
      
     h2 {
        padding-top: $padding-top;
        padding-left: $padding-left;
        font-size: $h2fontsi;
        font-weight: $fontweight;
        
     }

     ul{
        a{
                text-decoration: none;
                
                color: unset;
            }
        li{
            display: inline-block;
            list-style-type: none;
            position: relative;
            left: 10px;
            bottom: 6px;
            padding-bottom: $padding-bottom;
            
        }
       
     }
     #social_media {
         display: flex;
         justify-content: space-between;
         padding-left: 110px;
         padding-right: 110px;
         position: relative;
         
         bottom: 30px;
         
     }
 }
 /* First card  ends here */

 /* Second card on the right */
 #card2 {
    background-color: map-get($colors, card2bg );
    width: $cardwidth;
    height: $cardheight;
    color: black;
    border-radius: $radius;
     
    h2 {
       padding-top: $padding-top;
       padding-left: $padding-leftc2;
       font-size: $h2fontsi;
       font-weight: $fontweight;
       padding-bottom: 2px;
       
    }
    p{
        position: relative;
        bottom: 1.7em;
        font-size: 16px;
        padding-left: 5.2em;
        color: gray;
    }

    #wrapper {
        padding-left: 5.2em;

        #name {
            border-bottom: black solid 1px;
            border-left: none;
            border-right: none;
            border-top: none;
            height: 2em;
            outline: none;
        }
        
        #email {
            border-bottom: black solid 1px;
            border-left: none;
            border-right: none;
            border-top: none;
            height: 2em;
            outline: none;
            background-color: transparent;
        }
        #textarea {
            border-bottom: black solid 1px;
            border-left: none;
            border-right: none;
            border-top: none;
            width: 12.3em;
            height: 4em;
            resize: none;
            outline: none;
            background-color: transparent;
            

        }
        a{
            text-decoration: none;
            background-color: #E84C3D;
            border-radius:  15px;
            text-align: center;
            padding: 7px 35px;
            color: #FFFFFF;
            
            
        }

    }
}
.footer {
    display: block;
    position: relative;
    top: 15em;
    height: 12em;
    width: 100%;

    background-color: #070B14;

    .flogo{
        display: block;
        position: relative;
        padding-left: 8em;
        padding-top: 3em;
        float: left;
        text-align: center;

        #underlogo {

            font-family: Montserrat;
            color: #646464;
            font-weight: lighter;
            letter-spacing: 3px;
            text-transform: uppercase;

        }

        p {
            position: relative;
            bottom: 2em;
            
            font-family: Montserrat;
            letter-spacing: 3px ;
            color:#646464 ;
            font-size: 12px;
            font-weight: lighter;

        }
    }

    #socialMediaIcon {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-top: 5em;
        left: 25%;
        width: 12em;
        
    }

    #rights {

        position: relative;
        float: right;
        bottom: 3em;
        font-family: Montserrat;
        color:#646464 ;
        font-size: 16px;
        padding-right: 4em;
        

    }

} 
.mb-navbar{
    display: none;
}
.mb-menu {
    display: none;
  }

 /*second card ends here */

 @media all and (max-width:963px){

.mb-menu{
    display: initial;
    margin-left: 5px;
    
     
    cursor: pointer;
    position: relative;
    top: 5px;
    z-index: 999;
  }
    .nav-open{
        clip-path:circle(25in at 10% 15%) !important;
        -webkit-clip-path:circle(25in at 10% 15%) !important;
      }
      .fixed{
        position: fixed !important;
      }
      .mb-navbar{
        
        position: fixed;
        z-index: 999;
        background: #F4311E;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        clip-path:circle(100px at 0% -40%);
        -webkit-clip-path:circle(100px at 0% -40%);
        transition: all 500ms ease-out;
    
        ul {
          list-style: none;
          text-align: center;
          li{
            margin:4em 0;
          }
          li:nth-child(3) a{
            margin-left: 0px;
          }
          li a{
              margin-right: 1em;
            font-size: 2.5em;
            text-decoration: none;
            color:#fff;
            font-weight: bolder;
    
          }
        }
      }



    .logo{
        position: relative;
        margin: 0 auto;
        top: 1em;
        left: 0px;
        
        font-family: Montserrat;
        color: #FFFFFF;
        font-weight: lighter;
        
        text-align: center;
        text-transform: uppercase;
        
    }

    body {
        
        margin: 0px;
        height: auto;
        max-width: 100%;
        overflow-x: hidden;
    }

   #sideNav {
       display: none;
   }

   #father {
       display: flex;
       flex-direction: column;
       position: relative;
       margin: 0 auto;
       left: 0em;
       top: 4em;
       justify-content: center;
       
      
   }

   #card1 {
       box-shadow: 0px 0px 0px;
       position: relative;
       left: 0em;
       margin: 0 auto;
       //width: 100%;
       border-radius: 18%;
       width: 290px;

      h2 {
          padding-right: 1em;

       }

       ul{
           padding-right: 1em; 
           font-size: 15px;
       }

       #social_media {
        display: flex;
        justify-content: space-between;
        padding-left: 30%;
        padding-right: 30%;
        position: relative;
        
        bottom: 30px;
        
    }
       
       

   }

   #card2 {
    box-shadow: 0px 0px 0px;
    position: relative;
    top: 2em;
    
    border-radius: 18%;
    left: 0em;
    margin: 0 auto;
    //width: 95%;
    width: 290px;

    h2 {
        padding-left: 1.5em;
        
    }

    p{
        padding-left: 3.4em;
        padding-right: 1em;
    }

    #wrapper {
        padding-left: 3.4em;
        padding-right: 1em;

       
    }
    

    }

    .footer {
        position: relative;
        top: 10em;
        margin: 0 auto;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    
     .flogo{
         display: inline-block;
         position: relative;
         top: 2em;
        padding-left: 0em;
        padding-top: 0em;
            text-align: center;
    
        }
    
        #socialMediaIcon {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-top: 2em;
            left: 0em;
            margin: 0 auto;
            width: 12em;
            
        }
    
        #rights {
            display: inline-block;
            position: relative;
            top: 1em;
            float: none;
            bottom: 0em;
            padding-bottom: 1em;
            font-family: Montserrat;
            color:#646464 ;
            font-size: 16px;
            padding-right: 0em;
            margin: 0 auto;
            
    
        }
    
    
       }



}
