$colors:(
    bg: #080E1A,
    card1bg:#E84C3D,
    card2bg: #FFFFFF,
);
 
  $cardwidth: 368px;
  $cardheight: 431px;
  $padding-top: 30px;
  $padding-left: 32px;
  $padding-leftc2: 80px;
  $padding-bottom: 32px;
  $radius: 15%;
  $h2fontsi: 35px;
  $fontweight: bold;
  
*{
    font-family: sans-serif;
}
body {
    background: map-get($colors, bg );
    margin: 0px

} 
/* Cards container */
#father{
    display: flex;
    margin: auto;
    position: relative;
    top: 130px;
    justify-content: center;
}
/* Card's container ends here*/

/*The first card on the left */
 #card1 {
     background-color: map-get($colors, card1bg );
     width: $cardwidth;
     height: $cardheight;
     color: #FFFFFF;
     border-radius: $radius;
     box-shadow: 5px 5px -5px gray;
     z-index: 1;
     position: relative;
     left: 30px;
      
     h2 {
        padding-top: $padding-top;
        padding-left: $padding-left;
        font-size: $h2fontsi;
        font-weight: $fontweight;
        
     }

     ul{
        a{
                text-decoration: none;
                
                color: unset;
            }
        li{
            display: inline-block;
            list-style-type: none;
            position: relative;
            left: 10px;
            bottom: 6px;
            padding-bottom: $padding-bottom;
            
        }
       
     }
     #social_media {
         display: flex;
         justify-content: space-between;
         padding-left: 110px;
         padding-right: 110px;
         position: relative;
         
         bottom: 30px;
         
     }
 }
 /* First card  ends here */

 /* Second card on the right */
 #card2 {
    background-color: map-get($colors, card2bg );
    width: $cardwidth;
    height: $cardheight;
    color: black;
    border-radius: $radius;
     
    h2 {
       padding-top: $padding-top;
       padding-left: $padding-leftc2;
       font-size: $h2fontsi;
       font-weight: $fontweight;
       padding-bottom: 2px;
       
    }
    p{
        position: relative;
        bottom: 1.7em;
        font-size: 16px;
        padding-left: 5.2em;
        color: gray;
    }

    #wrapper {
        padding-left: 5.2em;

        #name {
            border-bottom: black solid 1px;
            border-left: none;
            border-right: none;
            border-top: none;
            height: 2em;
        }
        
        #email {
            border-bottom: black solid 1px;
            border-left: none;
            border-right: none;
            border-top: none;
            height: 2em;
        }
        #textarea {
            border-bottom: black solid 1px;
            border-left: none;
            border-right: none;
            border-top: none;
            width: 12.3em;
            height: 4em;
            
            

        }
        a{
            text-decoration: none;
            background-color: #E84C3D;
            border-radius:  15px;
            text-align: center;
            padding: 7px 35px;
            color: #FFFFFF;
            
            
        }

    }
}
 /*second card ends here */
