@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,700&display=swap);
* {
  font-family: sans-serif;
}

#sideNav {
  position: fixed;
  height: 100%;
  width: 7em;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  z-index: 6;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
}

#sideNav span.menu img {
  width: 2em;
}

#sideNav span.menu {
  position: absolute;
  left: 2.3em;
  padding: 2em 0;
  position: relative;
}

#sideNav span.menu::after {
  content: 'MENU';
  left: 8em;
  position: absolute;
}

#sideNav img {
  cursor: pointer;
}

#sideNav span.settings img {
  width: 2.2em;
  margin-bottom: 1em;
}

#sideNav span.settings {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 2.1em;
  width: 25em;
  cursor: pointer;
}

#sideNav span.settings::after {
  content: 'SETTINGS';
  top: .5em;
  left: 7.5em;
  position: absolute;
}

#sideNav ul li img {
  width: 2.8em;
}

#sideNav ul li {
  margin: 3em 0;
  position: relative;
  right: 2.5em;
  cursor: pointer;
}

#sideNav ul li:nth-child(1) {
  position: relative;
}

#sideNav ul li:nth-child(1)::after {
  content: 'HOME';
  left: 8em;
  top: .8em;
  position: absolute;
}

#sideNav ul li:nth-child(2) {
  position: relative;
  width: 25em;
}

#sideNav ul li:nth-child(2)::after {
  content: 'TV SHOWS';
  text-align: center;
  left: 7.3em;
  top: .2em;
  position: absolute;
}

#sideNav ul li:nth-child(3) {
  position: relative;
}

#sideNav ul li:nth-child(3)::after {
  content: 'documentary';
  text-transform: uppercase;
  text-align: center;
  left: 6em;
  top: .5em;
  position: absolute;
}

#sideNav ul {
  position: absolute;
  top: 7em;
  left: 2.1em;
  list-style: none;
}

.logo {
  position: absolute;
  margin: 0px;
  top: 1em;
  left: 4em;
  font-family: Montserrat;
  color: #FFFFFF;
  font-weight: lighter;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: uppercase;
  font-weight: lighter;
}

body {
  background: #080E1A;
  margin: 0px;
}

/* Cards container */
#father {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: relative;
  top: 130px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Card's container ends here*/
/*The first card on the left */
#card1 {
  background-color: #E84C3D;
  width: 368px;
  height: 431px;
  color: #FFFFFF;
  border-radius: 15%;
  -webkit-box-shadow: 6px 0px 5px #ccc;
          box-shadow: 6px 0px 5px #ccc;
  z-index: 5;
  position: relative;
  left: 30px;
}

#card1 h2 {
  padding-top: 30px;
  padding-left: 32px;
  font-size: 35px;
  font-weight: bold;
}

#card1 ul a {
  text-decoration: none;
  color: unset;
}

#card1 ul li {
  display: inline-block;
  list-style-type: none;
  position: relative;
  left: 10px;
  bottom: 6px;
  padding-bottom: 32px;
}

#card1 #social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 110px;
  padding-right: 110px;
  position: relative;
  bottom: 30px;
}

/* First card  ends here */
/* Second card on the right */
#card2 {
  background-color: #FFFFFF;
  width: 368px;
  height: 431px;
  color: black;
  border-radius: 15%;
}

#card2 h2 {
  padding-top: 30px;
  padding-left: 80px;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 2px;
}

#card2 p {
  position: relative;
  bottom: 1.7em;
  font-size: 16px;
  padding-left: 5.2em;
  color: gray;
}

#card2 #wrapper {
  padding-left: 5.2em;
}

#card2 #wrapper #name {
  border-bottom: black solid 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 2em;
  outline: none;
}

#card2 #wrapper #email {
  border-bottom: black solid 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 2em;
  outline: none;
  background-color: transparent;
}

#card2 #wrapper #textarea {
  border-bottom: black solid 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  width: 12.3em;
  height: 4em;
  resize: none;
  outline: none;
  background-color: transparent;
}

#card2 #wrapper a {
  text-decoration: none;
  background-color: #E84C3D;
  border-radius: 15px;
  text-align: center;
  padding: 7px 35px;
  color: #FFFFFF;
}

.footer {
  display: block;
  position: relative;
  top: 15em;
  height: 12em;
  width: 100%;
  background-color: #070B14;
}

.footer .flogo {
  display: block;
  position: relative;
  padding-left: 8em;
  padding-top: 3em;
  float: left;
  text-align: center;
}

.footer .flogo #underlogo {
  font-family: Montserrat;
  color: #646464;
  font-weight: lighter;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.footer .flogo p {
  position: relative;
  bottom: 2em;
  font-family: Montserrat;
  letter-spacing: 3px;
  color: #646464;
  font-size: 12px;
  font-weight: lighter;
}

.footer #socialMediaIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-top: 5em;
  left: 25%;
  width: 12em;
}

.footer #rights {
  position: relative;
  float: right;
  bottom: 3em;
  font-family: Montserrat;
  color: #646464;
  font-size: 16px;
  padding-right: 4em;
}

.mb-navbar {
  display: none;
}

.mb-menu {
  display: none;
}

/*second card ends here */
@media all and (max-width: 963px) {
  .mb-menu {
    display: initial;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    top: 5px;
    z-index: 999;
  }
  .nav-open {
    clip-path: circle(25in at 10% 15%) !important;
    -webkit-clip-path: circle(25in at 10% 15%) !important;
  }
  .fixed {
    position: fixed !important;
  }
  .mb-navbar {
    position: fixed;
    z-index: 999;
    background: #F4311E;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    clip-path: circle(100px at 0% -40%);
    -webkit-clip-path: circle(100px at 0% -40%);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  .mb-navbar ul {
    list-style: none;
    text-align: center;
  }
  .mb-navbar ul li {
    margin: 4em 0;
  }
  .mb-navbar ul li:nth-child(3) a {
    margin-left: 0px;
  }
  .mb-navbar ul li a {
    margin-right: 1em;
    font-size: 2.5em;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
  }
  .logo {
    position: relative;
    margin: 0 auto;
    top: 1em;
    left: 0px;
    font-family: Montserrat;
    color: #FFFFFF;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
  }
  body {
    margin: 0px;
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
  }
  #sideNav {
    display: none;
  }
  #father {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin: 0 auto;
    left: 0em;
    top: 4em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #card1 {
    -webkit-box-shadow: 0px 0px 0px;
            box-shadow: 0px 0px 0px;
    position: relative;
    left: 0em;
    margin: 0 auto;
    border-radius: 18%;
    width: 290px;
  }
  #card1 h2 {
    padding-right: 1em;
  }
  #card1 ul {
    padding-right: 1em;
    font-size: 15px;
  }
  #card1 #social_media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 30%;
    padding-right: 30%;
    position: relative;
    bottom: 30px;
  }
  #card2 {
    -webkit-box-shadow: 0px 0px 0px;
            box-shadow: 0px 0px 0px;
    position: relative;
    top: 2em;
    border-radius: 18%;
    left: 0em;
    margin: 0 auto;
    width: 290px;
  }
  #card2 h2 {
    padding-left: 1.5em;
  }
  #card2 p {
    padding-left: 3.4em;
    padding-right: 1em;
  }
  #card2 #wrapper {
    padding-left: 3.4em;
    padding-right: 1em;
  }
  .footer {
    position: relative;
    top: 10em;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .flogo {
    display: inline-block;
    position: relative;
    top: 2em;
    padding-left: 0em;
    padding-top: 0em;
    text-align: center;
  }
  .footer #socialMediaIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding-top: 2em;
    left: 0em;
    margin: 0 auto;
    width: 12em;
  }
  .footer #rights {
    display: inline-block;
    position: relative;
    top: 1em;
    float: none;
    bottom: 0em;
    padding-bottom: 1em;
    font-family: Montserrat;
    color: #646464;
    font-size: 16px;
    padding-right: 0em;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=contact.css.map */