$colors:(
    bg: #080E1A,
    card1bg:#E84C3D,
    card2bg: #FFFFFF,
);

  $cardwidth: 368px;
  $cardheight: 431px;
  $padding-top: 30px;
  $padding-left: 32px;
  $padding-leftc2: 80px;
  $padding-bottom: 32px;
  $radius: 15%;
  $h2fontsi: 35px;
  $fontweight: bold;
  

body {
    background: map-get($colors, bg );
    margin: 0px

} 

#father{
    display: flex;
    margin: auto;
    position: relative;
    top: 130px;
    justify-content: center;
}
 #card1 {
     background-color: map-get($colors, card1bg );
     width: $cardwidth;
     height: $cardheight;
     color: #FFFFFF;
     border-radius: $radius;
     box-shadow: 5px 5px -5px gray;
     z-index: 1;
     position: relative;
     left: 30px;
      
     h2 {
        padding-top: $padding-top;
        padding-left: $padding-left;
        font-size: $h2fontsi;
        font-weight: $fontweight;
        
     }

     ul{
        
        li{
            display: inline-block;
            list-style-type: none;
            position: relative;
            left: 10px;
            bottom: 6px;
            padding-bottom: $padding-bottom;
        }
       
     }
     #social_media {
         display: flex;
         justify-content: space-between;
         padding-left: 110px;
         padding-right: 110px;
         position: relative;
         
         bottom: 30px;
         
     }
 }

 #card2 {
    background-color: map-get($colors, card2bg );
    width: $cardwidth;
    height: $cardheight;
    color: black;
    border-radius: $radius;
     
    h2 {
       padding-top: $padding-top;
       padding-left: $padding-leftc2;
       font-size: $h2fontsi;
       font-weight: $fontweight;
       padding-bottom: 2px;
       
    }
    p{
        padding-left: $padding-leftc2;
    }

    #wrapper {
        padding-left: $padding-leftc2;

        #name {
            border-bottom: black solid 1px;
            border-left: none;
            border-right: none;
            border-top: none;
        }
        
        #email {
            border-bottom: black solid 1px;
            border-left: none;
            border-right: none;
            border-top: none;
        }
        #textarea {
            border-bottom: black solid 1px;
            border-left: none;
            border-right: none;
            border-top: none;
        }
        a{
            text-decoration: none;
            background-color: #E84C3D;
            border-radius:  15px;
            text-align: center;
            padding: 7px 35px;
            color: #FFFFFF;
            
            
        }

    }
}

