*{
    margin:0;
    box-sizing: border-box;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}
/* ::-webkit-scrollbar-thumb:hover {
  background: #000;
}

::-webkit-scrollbar:vertical {
  width: 2px;
}

::-webkit-scrollbar:horizontal {
  height: 2px;
} */

::-webkit-scrollbar {
    width: 1em;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
 ::-webkit-scrollbar-thumb {
    background-color: rgb(22, 31, 49);
  }
 ::-webkit-scrollbar:vertical{
    width:.5em;
  }

body{
    height:100vh;
}
.mb-menu {
  display: none;
}
.mb-navbar{
  display: none;
}
//Header start
header.top{
    height:100%;
    width:100%;
    background-size: cover;
    position: relative;
    nav{
        color:#fff;
        .logo{
            flex:1;
            text-transform: uppercase;
            font-weight: lighter;
        }

        height:10%;
        padding:20px 0;
        width:90%;
        float: right;
        display:flex;
        align-items: center;
        .buttons{
            color:#fff;
            flex:.1;
            span:last-child{
                margin-left:25px;
            }
        }
    }
    .content{
        width:90%;
        height: 90%;
        float: right;
        display: flex;
        align-items: center;
        overflow: hidden;
        .box{
            span{display:block;}
           span.type{
               color:#fff;
               text-transform: uppercase;
               font-weight: lighter;
               font-size: 1.5em;
               letter-spacing: 15px;

           }
           span.title{
               @extend .type;
               font-weight: bolder;
               font-size: 4em;
               width:15em;
               letter-spacing: 0;
           }
           span.title::after{
               content: '';
               display: block;
               width:3em;
               height:2px;
               background-color:#707070;
               margin: .2em 0 ;
           }
           p.description{
               color:#fff;
               width:52%;
               margin-bottom: 1em;
           }
           button.watch{
               @extend %watch-button;
               margin-right:2em;
           }
           button.trailer{
               @extend %trailer-button;
           }
        }
    }

    .sideNav{
        position: absolute;
        height: 100%;
        width:7em;
        transition: all ease 500ms;
        z-index:1;
        float: left;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: #fff;
        overflow: hidden;
        // display: none;
        span.menu img{
            width:2em;
        }
        span.menu{
            position: absolute;
            left:2.3em;
            padding : 2em 0;
            position: relative;
        }
        span.menu::after{
            content:'MENU';
            left: 8em;
            position: absolute;
        }
        img{
            cursor: pointer;
        }
        span.settings img{
            width: 2.2em;
            margin-bottom:1em;
        }
        span.settings{
            position: absolute;
            z-index:2;
            bottom: 0;
            left:2.1em;
            width:25em;
            cursor: pointer;
        }
        span.settings::after{
            content:'SETTINGS';
            top:.5em;
            left: 7.5em;
            position: absolute;
        }
        ul li img{
            width:2.8em;
        }
        ul li{
            margin:3em 0;
            cursor: pointer;
        }
        ul li:nth-child(1){
            position: relative;
        }
        ul li:nth-child(1)::after{
            content:'HOME';
            left: 8em;
            top:.8em;
            position: absolute;
        }
        ul li:nth-child(2){
            position: relative;
            width:25em;
        }
        ul li:nth-child(2)::after{
            content:'TV SHOWS';
            text-align: center;
            left: 7.3em;
            top:.2em;
            position: absolute;
        }
        ul li:nth-child(3){
            position: relative;
        }
        ul li:nth-child(3)::after{
            content:'documentary';
            text-transform: uppercase;
            text-align: center;
            left: 6em;
            top:.5em;
            position: absolute;
        }
        ul{
            position: absolute;
            top:7em;
            left:2.1em;
            list-style: none;
        }
    }
}
.blur{
    width:100%;
    height:50px;
    background-color:#000;
    position: absolute;
    z-index:1;
    bottom:-1.5em;
    filter: blur(40px)
}
//Header end
//Main Section
section.main{
    width:100%;
    background-color:#080E1A;
    .switcher{
        width:100%;
        padding: 5em 8em;
        box-sizing: border-box;
        button:first-child{
            margin-right: 1em;
            @extend %watch-button;
        }
        button:last-child{
            @extend %trailer-button;
        }
    }
    .movies{
        height:70%;
        width:100%;
        .row{
            margin: 0 auto;
            width:90%;
            margin-bottom: 5em;

            h1{
                margin-left: 1.5em;
                margin-bottom: 1em;
                color:#fff;
            }
            .list-movies{
                overflow-x: scroll;
                overflow-y: hidden;
                list-style:none;
                display: flex;
                li{
                    cursor: pointer;
                    .boxart{
                        width:9em;
                        overflow: hidden;
                        img{
                            width:100%;
                        }
                    }
                    span.name{
                        margin-top: .5em;
                        color:#fff;
                        text-transform: uppercase;
                        word-wrap: break-word;
                        width:10em;
                    }
                    span.year{
                        color:#fff;
                    }
                    margin: 0 2em;
                    display: flex;
                    flex-flow:column wrap;
                }
            }
        }
    }
}
//Main Section end
//Footer Start
footer.footer{
    background-color:#060B14;
    height:10em;
    width:100%;
    color:#646464;
    display:flex;
    overflow: hidden;
    .col:nth-child(3) span{
        text-align:center;
    }
    .col{
        height:100%;
        flex:1;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width:2em;

        }
        ul{
            list-style: none;
            display:flex;
            li{
                margin:0 1em;
            }
        }
    }
    .col:nth-child(1) span:last-child{
        font-size:.8em;
        letter-spacing: 5px;
    }
    .col:nth-child(1) span:first-of-type{
        text-align:center;
        text-transform: uppercase;
        letter-spacing: 8px;
        line-height: 0;
        font-size:2em;
    }
}

//Footer end

//Classes
%watch-button{
    background-color:#F4311E;
    padding:10px 25px;
    color:#fff;
    font-weight: bolder;
    text-transform: uppercase;
    border:0;
    border-radius: .5em;
    margin-bottom: 1em;
}
button{
    cursor: pointer;
}
%trailer-button{
    background-color:#0F0F0F ;
    padding:10px 25px;
    color:#fff;
    font-weight: bolder;
    text-transform: uppercase;
    border:0;
    border:solid 1px #959595;
    border-radius: .5em;
}
//End Classes-
//Start responsive
@media all and (max-width:1149px){

  .nav-open{
    clip-path:circle(25in at 10% 15%) !important;
    -webkit-clip-path:circle(25in at 10% 15%) !important;
  }
  .fixed{
    position: fixed !important;
  }
  .mb-navbar{
    position: fixed;
    z-index: 999;
    background: #F4311E;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    clip-path:circle(100px at 0% -40%);
    -webkit-clip-path:circle(100px at 0% -40%);
    transition: all 500ms ease-out;

    ul {
      list-style: none;
      text-align: center;
      li{
        margin:4em 0;
      }
      li:nth-child(3) a{
        margin-left: 11px;
      }
      li a{
        font-size: 2.5em;
        text-decoration: none;
        color:#fff;
        font-weight: bolder;

      }
    }
  }
   .sideNav{
    display: none !important;
  }
  section.main .switcher{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header.top nav .mb-menu{
    display: initial;
    margin-right: 1em;
    cursor: pointer;
    position: relative;
    z-index: 999;
  }
  header.top{
    background-position: center;
    .content .box {
      button{
        margin-bottom: 1.1em;
      }
    }
  }
  header.top .content{
    width: 100%;

    .box{
      padding: 0 1em;
      box-sizing: border-box;;
      width: 100% !important;
      p.description{
        width:88%;
      }
      span.title{
            font-size: 2.5em;
            width:70%;
      }
    }
  }
  header.top nav{
    // background-color: red;
    padding: 0 .5em ;
    width: 100%;
    .buttons{
      flex:.2;
    }
  }
  footer.footer{
    flex-direction: column;
    height: 15em;
  }
}
//end responsive

#search {
    display: block;
    
    color: #ffff;
    background-color: #080E1A;

   
    
    
    img{
        position: relative;
        width: 20em;
        height: 30em;
    }

    ul{
        display: block;
        position: relative;
        bottom: 28em;
        left: 22em;
        
    }

        
}