* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #000;
}

::-webkit-scrollbar:vertical {
  width: 2px;
}

::-webkit-scrollbar:horizontal {
  height: 2px;
} */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #161f31;
}

::-webkit-scrollbar:vertical {
  width: 0.5em;
}

body {
  height: 100vh;
}

.mb-menu {
  display: none;
}

.mb-navbar {
  display: none;
}

.sideNav {
  position: absolute;
  height: 100%;
  width: 7em;
  transition: all ease 500ms;
  z-index: 1;
  float: left;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
}
.sideNav span.menu img {
  width: 2em;
}
.sideNav span.menu {
  position: absolute;
  left: 2.3em;
  padding: 2em 0;
  position: relative;
}
.sideNav span.menu::after {
  content: "MENU";
  left: 8em;
  position: absolute;
}
.sideNav img {
  cursor: pointer;
}
.sideNav span.settings img {
  width: 2.2em;
  margin-bottom: 1em;
}
.sideNav span.settings {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 2.1em;
  width: 25em;
  cursor: pointer;
}
.sideNav span.settings::after {
  content: "SETTINGS";
  top: 0.5em;
  left: 7.5em;
  position: absolute;
}
.sideNav ul li img {
  width: 2.8em;
}
.sideNav ul li {
  margin: 3em 0;
  cursor: pointer;
}
.sideNav ul li:nth-child(1) {
  position: relative;
}
.sideNav ul li:nth-child(1)::after {
  content: "HOME";
  left: 8em;
  top: 0.8em;
  position: absolute;
}
.sideNav ul li:nth-child(2) {
  position: relative;
  width: 25em;
}
.sideNav ul li:nth-child(2)::after {
  content: "TV SHOWS";
  text-align: center;
  left: 7.3em;
  top: 0.2em;
  position: absolute;
}
.sideNav ul li:nth-child(3) {
  position: relative;
}
.sideNav ul li:nth-child(3)::after {
  content: "documentary";
  text-transform: uppercase;
  text-align: center;
  left: 6em;
  top: 0.5em;
  position: absolute;
}
.sideNav ul {
  position: absolute;
  top: 7em;
  left: 2.1em;
  list-style: none;
}

section.main {
  background-color: #080E1A;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.main .content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
}
section.main .boxpr {
  height: 30.1em;
  width: 20em;
  margin: 0 4em;
  overflow: hidden;
  border-radius: 1em;
}
section.main .boxpr img {
  width: 100%;
}
section.main .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 0.2em;
  height: 100%;
  color: #fff;
}
section.main .data span.titlepr {
  text-transform: uppercase;
  font-size: 4em;
  text-align: left;
}
section.main .data span.titlepr::after {
  content: "";
  margin-left: 12px;
  width: 2em;
  display: block;
  height: 1px;
  background-color: #fff;
}
section.main .data span.typepr {
  text-transform: uppercase;
  font-size: 1.5em;
  margin-left: 0.5em;
  margin-top: 0.4em;
  margin-bottom: 1em;
  font-weight: lighter;
  letter-spacing: 0.6em;
}
section.main .data p.description-pr {
  font-weight: 300;
  margin-left: 0.5em;
  margin-bottom: 0.4em;
  font-size: 1.2em;
  width: 80%;
}
section.main .data p.description-pr::after {
  content: "";
  margin-top: 1em;
  width: 7em;
  display: block;
  height: 1px;
  background-color: #fff;
}
section.main .data button.watch {
  background-color: #F4311E;
  padding: 10px 25px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  border: 0;
  margin-right: 1em;
  border-radius: 0.5em;
}
section.main .data button.watch_tr {
  background-color: #0F0F0F;
  padding: 10px 25px;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  border: 0;
  border: solid 1px #959595;
  border-radius: 0.5em;
}
section.main .data .buttons {
  margin-top: 2em;
}
section.main .data .buttons button {
  cursor: pointer;
}

.trailer {
  background: rgba(8, 8, 8, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  display: none;
}
.trailer .window {
  height: 30em;
  width: 50em;
  background-color: #000;
  position: relative;
  border-radius: 1em;
}
.trailer .window iframe {
  border-radius: 1em;
}
.trailer .window span i {
  color: #fff;
  position: absolute;
  top: -1em;
  right: -1.5em;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .nav-open {
    clip-path: circle(25in at 10% 15%) !important;
    -webkit-clip-path: circle(25in at 10% 15%) !important;
  }

  .fixed {
    position: fixed !important;
    z-index: 999;
  }

  .mb-navbar {
    position: fixed;
    z-index: 999;
    background: #F4311E;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    clip-path: circle(100px at 0% -40%);
    -webkit-clip-path: circle(100px at 0% -40%);
    transition: all 500ms ease-out;
  }
  .mb-navbar ul {
    list-style: none;
    text-align: center;
  }
  .mb-navbar ul li {
    margin: 4em 0;
  }
  .mb-navbar ul li:nth-child(3) a {
    margin-left: 11px;
  }
  .mb-navbar ul li a {
    font-size: 2.5em;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
  }

  nav {
    position: absolute;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 2em;
  }
  nav span i {
    color: #fff;
  }
  nav .mb-menu {
    display: initial;
  }

  body {
    height: 200vh;
  }

  .sideNav {
    display: none;
  }

  .cn-bx {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }

  section.main .content {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  section.main .content .data {
    width: 100%;
    height: 100%;
    align-items: center;
  }
  section.main .content .data .titlepr {
    text-align: center;
  }
  section.main .content .data .titlepr:after {
    content: none;
  }
}

/*# sourceMappingURL=view.css.map */
